themes {
    solarized-osaka {
        fg "#839395"
        bg "#002c38"
        black "#001419"
        red "#db302d"
        green "#849900"
        yellow "#b28500"
        blue "#268bd3"
        magenta "#d23681"
        cyan "#29a298"
        white "#9eabac"
        orange "#c94c16"
    }
}
